extends layout

block content
  form(action='login', method='post')
    input(type='text', name='username', value='')
    input(type='password', name='password', value='')
    button(type='submit') Submit
